# Compiled class file
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
.vscode/
.project
.classpath
.settings/
.nb-gradle/

# Logs
*.log
logs/
.running_pids

# Environment & Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# virtual machine crash logs
hs_err_pid*
replay_pid*
